[Unit]
Description=Timer to start the backup service every Friday at 01:00

[Timer]
OnCalendar=Fri *-*-* 01:00:00
RandomizedDelaySec= 30m
Persistent=true

[Install]
WantedBy=timers.target

